:root{
  --primary-color:#122e46;
  --dark-primary-color:#05131e;
  --text-color: #e8ebe8;
  --accent-color: #e50442;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Inconsolata', monospace;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

header{
  width: 100vw;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background-color: var(--dark-primary-color);
  font-size: 1.5rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);

}

header h1{
  color: var(--accent-color);
  font-size: 3rem;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-cats{
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 80%;
  max-width: 850px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.random-cats article{
  width: 65%;
  min-width: 200px;
  max-width: 230px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color:var(--dark-primary-color) ;
  margin-right: 10px;
  border-radius: 10px;
}

.random-cats article img{
  width: 80%;
  height: 70%;
  border-radius: 10px;
  object-position: center;
  object-fit: fill;
}

article div{
  width: 80%;
  display: flex;
  justify-content: space-between;
 
}
.random-cats article div span{
  font-size: 1.8rem;
  margin-top: 5px;
  text-align: center;
  color: var(--text-color);
  
}
.random-cats article div button{
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--accent-color);
  cursor:pointer;
  
}

.general-button{
  height: 30px;
  font-family: 'Inconsolata', monospace;
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 0 10px;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.general-button:hover{
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

#random-cats article div button .fa-solid:last-child {
  display: none;
}
#random-cats article div button:hover .fa-solid {
  display: block;
}
#random-cats article div button:hover .fa-regular{
  display: none;
}


h2,#error{
  color: var(--accent-color);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
}
#error{
  margin-bottom: 30px;
}

form{
  background-color: var(--dark-primary-color);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
}
form .general-button{
  margin: 0;
  width: 180px;
  height: 30px;
  position: absolute;
  top: calc(100% + 10px);
  left: calc(50% - 90px );

}
.input-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.input-container label{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 3rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  position: absolute;  
}
.input-container label i{
  font-size: 5rem;
}

.input-container input[type="file"]{
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.input-container input[type="file"]:hover~label{
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  
}

#preview{
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  border-radius: 10px;
}

@media (min-width:700px) {
  .random-cats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: auto;
    row-gap: 15px;
  }
}

@media (min-width:1000px) {
  .random-cats{
    grid-template-columns: repeat(4,1fr);
  }
}